.form-field {
  margin-bottom: 16px;
  width: 100%;
  // height: 45px;
  .form-control {
    display: flex !important;
    align-items: center !important;
    height: 45px !important;
    margin-top: 4px;
    input {
      height: 100% !important;
    }
    .label {
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
  .field-label {
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
  }
}