$primary-color: #FFFFFF;
$primary-color-50: #FAFAFA;
$primary-color-100: #F5F5F5;
$primary-color-200: #EEEEEE;
$primary-color-300: #E0E0E0;
$primary-color-400: #BDBDBD;
$primary-color-500: #9E9E9E;
$primary-color-600: #757575;
$primary-color-650: #888888;
$primary-color-700: #616161;
$primary-color-800: #424242;
$primary-color-900: #212121;
$primary-color-950: #000000;

$border-color: $primary-color;
$border-color-50: $primary-color-50;
$border-color-100: $primary-color-100;
$border-color-200: $primary-color-200;
$border-color-300: $primary-color-300;
$border-color-400: $primary-color-400;
$border-color-500: $primary-color-500;
$border-color-600: $primary-color-600;
$border-color-650: $primary-color-650;
$border-color-700: $primary-color-700;
$border-color-800: $primary-color-800;
$border-color-900: $primary-color-900;
$border-color-950: $primary-color-950;

$text-color: $primary-color;
$text-color-50: $primary-color-50;
$text-color-100: $primary-color-100;
$text-color-200: $primary-color-200;
$text-color-300: $primary-color-300;
$text-color-400: $primary-color-400;
$text-color-500: $primary-color-500;
$text-color-600: $primary-color-600;
$text-color-650: $primary-color-650;
$text-color-700: $primary-color-700;
$text-color-800: $primary-color-800;
$text-color-900: $primary-color-900;
$text-color-950: $primary-color-950;

$background-color: $primary-color;
$background-color-50: $primary-color-50;
$background-color-100: $primary-color-100;
$background-color-200: $primary-color-200;
$background-color-300: $primary-color-300;
$background-color-400: $primary-color-400;
$background-color-500: $primary-color-500;
$background-color-600: $primary-color-600;
$background-color-650: $primary-color-650;
$background-color-700: $primary-color-700;
$background-color-800: $primary-color-800;
$background-color-900: $primary-color-900;
$background-color-950: $primary-color-950;

$app-color: #203a5b;
$border-radius: 10px;
$standard-padding: 8px;
$standard-margin: 8px;
